/*------------------------------------------------------------------------------*/
/*-------------------------------Barra de Navegacion----------------------------*/
/*------------------------------------------------------------------------------*/

/* Estilo de la barra de navegacion */
nav {
    display: flex;
    justify-content: right;
    background-color: rgb(42, 76, 180);
}

/* Alineacion de los items de la barra de navegacion */
nav ul {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

/* Separacion de los items de la barra de navegacion */
nav ul li {
    margin: 0 10px;
}

/* Estilo de los links de la barra de navegacion */
nav ul li a {
    display: block;
    color: white;
    text-decoration: none;
    padding: 15px;
}

/*------------------------------------------------------------------------------*/
/*------------------------------------------------------------------------------*/
/*------------------------------------------------------------------------------*/

#seccion-titulo {
    color: white;
    text-align: center;
    font-size: 35px;
}

/*------------------------------------------------------------------------------*/
/*------------------------------------------------------------------------------*/
/*------------------------------------------------------------------------------*/
body {
    background-color: rgb(3, 3, 63);
}

#titulo-cotizar h2 {
    font-size: 25px;
}

#seccion-cotizar {
    background-color: rgb(42, 76, 180);
    color: white;
    width: 30%;
    margin: auto;
    text-align: center;
    font-size: 17px;
    font-weight: bold;
}

#contenedor-cotizar {
    margin-top: 10%;
}
#contenedor-Destinos p,
#contenedor-Destinos select {
    display:    inline-block;
    margin:     auto;
}

#contenedor-fecha-inicio {
    display:    inline-block;
    margin:     auto;
}

#contenedor-fecha-fin {
    display: inline-block;
}

#contenedor-pasajeros p,
#disminuir,
#contador-pasajeros,
#incrementar {
    display: inline-block;
}

/*------------------------------------------------------------------------------*/
/*------------------------------------------------------------------------------*/
/*------------------------------------------------------------------------------*/

#informacion {
    color: white;
}

#contenedor-informacion img {
    width: 45%;
}

#contenedor-informacion {
    background-color: rgb(42, 76, 180);
    text-align: center;
    width: 75%;
    margin: auto;
    margin-top: 5%;
}
#contenedor-informacion p{
    font-size: 17px;
}

.pregunta {
    text-align: center;
    width: 75%;
    background-color:rgb(42, 76, 180);
    cursor: pointer;
    font-weight: bold;
    font-size: 20px;
    margin: auto;
}

.respuesta {
    background-color:rgb(42, 76, 180);
    margin: auto;
    text-align: center;
    width: 75%;
    display: none;
    font-size: 20px;
}

/*------------------------------------------------------------------------------*/
/*------------------------------------------------------------------------------*/
/*------------------------------------------------------------------------------*/

footer {
    color: white;
    text-align: center;
}