/*------------------------------------------------------------------------------*/
/*-------------------------------Barra de Navegacion----------------------------*/
/*------------------------------------------------------------------------------*/

/* Estilo de la barra de navegacion */
nav {
    display: flex;
    justify-content: right;
    background-color: rgb(42, 76, 180);
}

/* Alineacion de los items de la barra de navegacion */
nav ul {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

/* Separacion de los items de la barra de navegacion */
nav ul li {
    margin: 0 10px;
}

/* Estilo de los links de la barra de navegacion */
nav ul li a {
    display: block;
    color: white;
    text-decoration: none;
    padding: 15px;
}

/*------------------------------------------------------------------------------*/
/*------------------------------------------------------------------------------*/
/*------------------------------------------------------------------------------*/
body {
    background-color: rgb(3, 3, 63);
}

#titulo-cotizar h2 {
    font-size: 25px;
}

#seccion-cotizar {
    background-color: rgb(42, 76, 180);
    color: white;
    width: 30%;
    margin: auto;
    text-align: center;
}

#contenedor-Destinos p,
#contenedor-Destinos select {
    display:    inline-block;
    margin:     auto;
}

#contenedor-fecha-inicio {
    display:    inline-block;
    margin:     auto;
}

#contenedor-fecha-fin {
    display: inline-block;
}

#contenedor-pasajeros p,
#disminuir,
#contador-pasajeros,
#incrementar {
    display: inline-block;
}

/*------------------------------------------------------------------------------*/
/*------------------------------------------------------------------------------*/
/*------------------------------------------------------------------------------*/

footer {
    color: white;
    text-align: center;
}